   #my-div {
        width: 200px;
        height: 200px;
        background-color: #eee;
        position: relative;
        margin: 50px auto;
        font-size: 18px;
        color: #333;
        text-align: center;
        line-height: 200px;
      }